body{
background-color: #d1d6e2;
}

button{
    margin-top: 50px;
    margin-left: 35px;
}

#heading{
  font-size: 55px;
  font-family: "Abel", sans-serif;
  font-weight: bold;
  display: block;
  text-align: center;
  color: #1e2543;
  padding-top: 30PX;
  padding-bottom: 0PX;
  margin-bottom: 0PX;

  
}

#sub-head{
  font-size: 20px;
  font-family: "Radio Canada Big", sans-serif;
  
  display: block;
  text-align: center;
  color: #283a69;
  margin-top: 2px;
}

.subscribe-button {

    background-color: rgb(204, 0, 0);

    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    transition: opacity 0.15s;
   
    
  }

  .join-button {
    background-color: white;
    border-color: rgb(41, 118, 211);
    border-style: solid;
    border-width: 1px;
    color: rgb(41, 118, 211);
    height: 36px;
    width: 62px;
    border-radius: 2px;
    cursor: pointer;

    transition: background-color 0.15s,
      color 0.15s;
  }

  .join-button:hover {
    background-color: rgb(41, 118, 211);
    color: white;
  }

  .join-button:active {
    opacity: 0.7;
  }

  .tweet-button {
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: box-shadow 0.15s;
    
  }


  .github-buttton{
    background-color: rgb(46, 164, 79);
    color: white;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 17px;
    padding-right: 17px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: box-shadow 0.15s;
  }

  .github-button:hover {
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
  }

  .uber-button {
    background-color: black;
    color: white;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition: opacity 0.15s;
  }

  .uber-button:hover {
    opacity: 0.8;
  }

  .amazon-button {
    background-color: rgb(255, 216, 20);
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 15px;
    cursor: pointer;
  }

  .amazon-button:hover {
    background-color: rgb(245, 205, 3);
  }

  .get-started-button {
    background-color: rgb(121, 82, 179);
    color: white;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 6px;
    transition: background-color 0.15s;
  }

  .get-started-button:hover {
    background-color: rgb(99, 60, 156);
  }

  .download-button {
    background-color: white;
    color: rgb(108, 117, 125);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(108, 117, 125);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 17px;
    padding-right: 17px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.15s,
      color 0.15s;
  }

  .download-button:hover {
    background-color: rgb(108, 117, 125);
    color: white;
  }

  .apply-button {
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.15s;
  }

  .apply-button:hover {
    background-color: rgb(2, 70, 138);
  }

  .save-button {
    background-color: white;
    color: rgb(10, 102, 194);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(10, 102, 194);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.15s,
      border-width 0.15s,
      padding 0.15s;
  }

  .save-button:hover {
    background-color: rgb(226, 240, 254);
    border-width: 2px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 23px;
    padding-right: 23px;
  }

  .stretch-button {
    background-color: green;
    color: white;
    border: none;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition: padding-top 1s,
      padding-bottom 1s,
      padding-left 1s,
      padding-right 1s;
  }

  .stretch-button:hover {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 36px;
    padding-right: 36px;
  }